@charset "gb2312";
/*文章内容------------------------*/
.art_box{ font-size:14px; line-height:26px;font-family: Verdana;}

.art_box h1{text-align:center;font-family: Verdana, "Microsoft YaHei", SimHei; font-size:28px; font-weight:500; line-height:120%;}







.art_box .art_info{padding:30px 0 15px 0;overflow:hidden;_zoom:1; line-height:14px; font-size:12px;vertical-align:middle; background-color:#D1EEEE;}
.art_box .art_info .date{float:left;width:285px; margin:10px 0 0; color:#888;text-align:center;}
.art_box .art_info .date em{ margin:0 10px;}
.art_box .art_info .date a{color:#888;}
.art_box .art_info .date a:hover{color:#f60;}
.art_box .art_info .function{float:right;}
.art_box .art_info .function div{background:url(/images/8/ico_bg.gif);color:#888; }
.art_box .art_info .function .info_comment{float:left;background-position:0 -1388px;color:#069;margin:10px 0 0;padding:0;}
.art_box .art_info .function .fontSize{float:left;background-position:7px -257px;margin:0 0 0 8px;padding:0 0 0 25px;border-left:#e1eded 1px solid;}
.art_box .art_info .function .fontSize a,.art_box .art_info .function .fontSize span{margin:0 0 0 2px;}
.art_box .art_info .function div a{color:#666;}
.art_box .art_info .function div a:hover{color:#f60;}
.art_box .art_info .function .info_like{float:left;margin:7px 0 0 10px;_margin:5px 0 0 10px; background:none;}
.art_box .art_info .function .info_like iframe{ vertical-align:top;}

.art_box .art_info .art_info_gw{ color:Red;}

.art_box .summary{ margin:10px 0 0 0;padding:15px; border:#dedede 1px solid; background:#f9f9f9; overflow:hidden; line-height:26px; text-indent:24px; color:#666; font-size:14px; font-family:Microsoft Yahei; }
.art_box .art_con{height:100%;overflow:hidden;margin:5px;font-size:14px;}

.art_box .art_con .art_con_head{height:32px;overflow:hidden;background-color:#E0EEEE; width:650px;}
.art_box .art_con .art_con_head span{ font-size:14px; font-weight:bold; float:left; color:Blue; line-height:32px;}
.art_box .art_con .art_con_content{border:#e0e0e0 1px solid;border-top:0;overflow:hidden;letter-spacing:2px;padding:8px;line-height:25px;}    
      
.right-box .right-cons{border:#eee 1px solid; border-top:0; display:block; overflow:hidden;}
